<% 
const loginuser = user[0]
const totalWalletAmount = (loginuser.WalletAmount + loginuser.eWalletAmount).toFixed(2);
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="Custom/Css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <script src="Bootstrap/bootstrap.min.js"></script>
    <script src="/Jquery/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="main">
        <div class="container-fluid pb-4" style="margin-top:50px; min-height:100vh; background:#f7f8ff">
            <div class="position-fixed topnavbar bg-primary">
                <div class="navlogo">
                    <a href="/"><img src="img/UI/icons8-back-50.png" style="cursor: pointer;" alt="" srcset=""></a>
                    <img src="img/mainlogo.png" alt="">
                </div>
                <div class="content-right align-middle">
                    <a href="messages"><i class="fa fa-bell" aria-hidden="true"></i></a>
                </div>
            </div>
            <br>
            <div class="bg-primary walletDiv p-3 text-center" style="border-radius: 25px;">
                <h2>₹ <%= totalWalletAmount %></h2>
                <div class="walletBal">Wallet balance</div>
                <div class="d-flex mt-3" style="justify-content: center;">
                    <a href="withdraw"><button class="btn btn-light rounded-pill text-primary ps-4 pe-4 fw-bold me-4">Withdraw</button></a>
                    <a href="recharge"><button class="btn btn-outline-light rounded-pill ps-4 pe-4 fw-bold ms-4">Deposit</button></a>
                </div>
            </div>

            <div class="w-100 shadow-sm bg-body rounded-pill p-2 mt-3">
                <i class="fa fa-bell" aria-hidden="true" style="color:#4781ff"></i>
                <p class="d-inline p-0 ms-2 m-0 overflow-hidden" style="font-size:12px; width:60%; word-wrap: break-word">ksgdkjhkjskdhgjkhksjhdgj</p>
                <button class="btn text-white rounded-pill float-end p-1 ps-3 pe-3" style="font-size:12px; background: linear-gradient(90deg, #4ca6ff 1.9%, #57d1f9 98.57%);">Detail</button>
            </div>

            <div class="row shadow-sm mt-3 text-center" style="--bs-gutter-x:0; border-radius: 15px;" >
              <% games.forEach(function(item, index) { %>
                <div class="col-<%= Math.floor(12 / games.length) %> m-o gt <%= index === 0 ? 'active' : '' %>" typeID="<%= item.ID %>" allowedTime="<%= item.Time %>" ct="<%= item.BetCloseTime %>">
                  <div class="gameWinType pb-2"><%= item.Title %><br><span id="gbType"><%= item.Description %></span></div>
                </div>
              <% }); %>
                <!-- <div class="col-4 m-o gt active" t="1">
                    <div class="gameWinType pb-2">Win Go<br>1 Min</div>
                </div>
                <div class="col-4 m-0 gt " t="3">
                    <div class="gameWinType pb-2">Win Go<br>3 Min</div>
                </div>
                <div class="col-4 m-0 gt" t="5">
                    <div class="gameWinType pb-2">Win Go<br>5 Min</div>
                </div> -->
            </div>

            <div data-v-9f2c21eb="" class="TimeLeft__C">
                <div data-v-9f2c21eb="" class="TimeLeft__C-rule">How to play</div>
                <div data-v-9f2c21eb="" class="TimeLeft__C-name">Win Go <span id="btype">1 Min</span></div>
                <!-- <div data-v-9f2c21eb="" class="TimeLeft__C-num">
                   <div data-v-9f2c21eb="" class="n3"></div>
                   <div data-v-9f2c21eb="" class="n5"></div>
                   <div data-v-9f2c21eb="" class="n4"></div>
                   <div data-v-9f2c21eb="" class="n8"></div>
                   <div data-v-9f2c21eb="" class="n7"></div>
                </div> -->
                <div data-v-9f2c21eb="" id="currentGameId" class="TimeLeft__C-id">000000000000</div>
                <div data-v-9f2c21eb="" class="TimeLeft__C-text">Time Remaining</div>
                <div data-v-9f2c21eb="" id="demo" class="TimeLeft__C-time">
                   <!-- <div data-v-9f2c21eb="">0</div> -->
                   <div data-v-9f2c21eb="">00</div>
                   <div data-v-9f2c21eb="">:</div>
                   <div data-v-9f2c21eb="">00</div>
                   <!-- <div data-v-9f2c21eb="">4</div> -->
                </div>
             </div>


             <div data-v-3299f162="" data-v-3b518548="" class="Betting__C" voicetype="1" typeid="1">
              <div id="betDatacnt">
                  <div data-v-3299f162="" class="Betting__C-mark"></div>
                  <div data-v-3299f162="" class="Betting__C-head">
                      <div data-v-3299f162="" class="Betting__C-head-g">Green</div>
                      <div data-v-3299f162="" class="Betting__C-head-p">Violet</div>
                      <div data-v-3299f162="" class="Betting__C-head-r">Red</div>
                  </div>
                  <div data-v-3299f162="" class="Betting__C-numC">
                    <div data-v-3299f162="" class="Betting__C-numC-item0"></div>
                    <div data-v-3299f162="" class="Betting__C-numC-item1"></div>
                    <div data-v-3299f162="" class="Betting__C-numC-item2"></div>
                    <div data-v-3299f162="" class="Betting__C-numC-item3"></div>
                    <div data-v-3299f162="" class="Betting__C-numC-item4"></div>
                    <div data-v-3299f162="" class="Betting__C-numC-item5"></div>
                    <div data-v-3299f162="" class="Betting__C-numC-item6"></div>
                    <div data-v-3299f162="" class="Betting__C-numC-item7"></div>
                    <div data-v-3299f162="" class="Betting__C-numC-item8"></div>
                    <div data-v-3299f162="" class="Betting__C-numC-item9"></div>
                  </div>
                  <!-- <div data-v-3299f162="" class="Betting__C-multiple">
                    <div data-v-3299f162="" class="Betting__C-multiple-l">Random</div>
                    <div data-v-3299f162="" class="Betting__C-multiple-r active"> X1</div>
                    <div data-v-3299f162="" class="Betting__C-multiple-r"> X5</div>
                    <div data-v-3299f162="" class="Betting__C-multiple-r"> X10</div>
                    <div data-v-3299f162="" class="Betting__C-multiple-r"> X20</div>
                    <div data-v-3299f162="" class="Betting__C-multiple-r"> X50</div>
                    <div data-v-3299f162="" class="Betting__C-multiple-r"> X100</div>
                  </div> -->
                  <div data-v-3299f162="" class="Betting__C-foot">
                    <div data-v-3299f162="" class="Betting__C-foot-b">Big</div>
                    <div data-v-3299f162="" class="Betting__C-foot-s bg-primary">Small</div>
                  </div>
                </div>
             </div>


             <div data-v-3299f162 data-v-3b518548 class="Betting__C pb-4">
                <table class="table text-center">
                    <thead class="bg-primary">
                      <tr>
                        <th class="text-white">Period</th>
                        <th class="text-white">Number</th>
                        <th class="text-white">Big Small</th>
                        <th class="text-white">Color</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>20240310011121</td>
                        <td>5</td>
                        <td>Big</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>20240310011121</td>
                        <td>5</td>
                        <td>Small</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>20240310011121</td>
                        <td>4</td>
                        <td>Big</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-center table-arrow">
                    <i class="fa fa-chevron-left me-2 pre nodata" aria-hidden="true"></i>
                    <span>1</span>
                    <span>/</span>
                    <span>132</span>
                    <i class="fa fa-chevron-right ms-2 next" aria-hidden="true"></i>
                  </div>
             </div>
        </div>
    </div>





<div class="offcanvas offcanvas-sm offcanvas-bottom" style="border-top-left-radius: 10px; border-top-right-radius: 10px; height:auto" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  
</div>

<%- include('common.ejs') %>
</body>
<script src="Custom/js/wingo.js"></script>
</html>